div.content {
    padding-top: 14rem;
    width: 75%;
    margin: 0 auto;
}

div.content p {
    text-align: justify;
}

div.content h2 {
    margin-bottom: 20px;
}

div.content section img {
    width: 100%;
    margin: 15px auto;
}

div.content section a {
    color: $contrast-color;
}

@media screen and (max-width: 800px) {
    div.content {
        padding-top: 8rem;
    }
}

@media screen and (max-width: 650px) {
    div.content {
        width: 85%;
    }
    div.content p {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    div.content {
        padding-top: 5.5rem;
    }
}