header div.header-container nav ul {
    text-align: center;
    list-style: none;
}

header div.header-container nav ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 8px;
    white-space: nowrap;
    color: $primary-color;
    transition: $transition-standar;
    font-size: 1rem;
}

header div.header-container nav ul li:hover {
    color: $secondary-color;
}

div.header-container input#check-hamburger {
    display: none;
}

header div.header-container label.label-hamburger {
    height: 30px;
    width: 30px;
    display: none;
}

label.label-hamburger span {
    height: 3px;
    width: 100%;
    background: $primary-color;
    display: block;
    margin-bottom: 8px;
    transform-origin: left;
    transition: $transition-standar;
}

@media screen and (max-width: 800px) {
    header div.header-container nav {
        position: fixed;
        left: -110%;
        width: 100%;
        height: 100%;
        background: $fallback-color;
        background: $header-color;
        opacity: 0;
        overflow: auto;
        transition: $transition-standar;
    }
    header div.header-container nav ul {
        display: block;
        width: 80%;
        margin: 4rem auto;
    }
    header div.header-container nav ul li {
        display: block;
        padding-left: 0;
        margin-bottom: 5px;
        font-size: 1.1rem;
        text-align: left;
    }
    header div.header-container input#check-hamburger:checked~nav {
        opacity: 1;
        left: 0;
    }
    header div.header-container label.label-hamburger {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    label.label-hamburger span:nth-child(1) {
        margin-top: 4px;
    }
    div.header-container input#check-hamburger:checked+label.label-hamburger span:nth-child(1) {
        transform: rotate(45deg) translateY(-2px);
    }
    div.header-container input#check-hamburger:checked+label.label-hamburger span:nth-child(2) {
        opacity: 0;
    }
    div.header-container input#check-hamburger:checked+label.label-hamburger span:nth-child(3) {
        transform: rotate(-45deg) translateY(-1px) translateX(2px);
    }
}

@media screen and (max-width: 650px) {
    header div.header-container {
        padding: 10px 0 10px 0;
        width: 90%;
    }
    header div.header-container label.label-hamburger {
        height: 30px;
        width: 25px;
    }
    label.label-hamburger span {
        height: 2px;
        width: 100%;
        margin-bottom: 6px;
    }
    label.label-hamburger span:nth-child(1) {
        margin-top: 6px;
    }
    div.header-container input#check-hamburger:checked+label.label-hamburger span:nth-child(3) {
        transform: rotate(-45deg) translateY(1px);
    }
}

@media screen and (max-width: 400px) {
    header div.header-container {
        padding: 5px 0 5px 0;
    }
}