header {
    width: 100%;
    background: transparent;
    position: fixed;
    background: $header-color;
    box-shadow: 1px 1px 5px #ccc;
}

header div.header-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 5px 0;
}

header div.header-container h1 {
    text-align: center;
    padding-bottom: 13px;
    color: $primary-color;
    font-size: 2rem;
    font-weight: lighter;
}

