header {
    width: 100%;
    height: 100vh;
    background: transparent;
}

header div.skew {
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform: skewY(-5deg);
    overflow: hidden;
    position: absolute;
}

header div.skew div.slider {
    width: 100%;
    height: 110%;
    transform: skewY(5deg);
}

header div.skew div.slider div.capa {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    position: absolute;
    z-index: 1;
}

header div.skew div.slider figure {
    width: 400%;
    height: 100%;
    filter: blur(1px);
    position: relative;
    left: 0;
    animation: slide-auto 10s infinite alternate linear;
}

header div.skew div.slider figure div.foto {
    width: 25%;
    height: 100%;
    float: left;
}

header div.skew div.slider figure div.foto:nth-child(1) {
    background: url('../img/arduino.jpg');
    background-size: cover;
    background-position: left center;
}

header div.skew div.slider figure div.foto:nth-child(2) {
    background: url('../img/nextcloud.png');
    background-size: cover;
    background-position: center center;
}

header div.skew div.slider figure div.foto:nth-child(3) {
    background: url('../img/untangle.jpg');
    background-size: cover;
    background-position: right center;
}

header div.skew div.slider figure div.foto:nth-child(4) {
    background: url('../img/gitlab.png');
    background-size: cover;
    background-position: right center;
}

header div.header-container {
    width: 100%;
    height: 88vh;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    position: relative;
}

header div.header-container div.center-title {
    top: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

header div.header-container h1 {
    text-align: center;
    padding-bottom: 13px;
    color: $primary-color;
    font-size: 4rem;
    font-weight: lighter;
}

div.header-container div.nombres {
    color: $primary-color;
    position: absolute;
    bottom: 0;
    left: 100px;
    font-size: 1.2rem;
    line-height: 30px;
}

@keyframes slide-auto {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
}

header div.header-container label.label-hamburger {
    top: 0;
    transform: translateY(0);
    margin: 25px;
    z-index: 2;
}

label.label-hamburger span {
    background: $contrast-color;
}

div.content {
    padding-top: 6rem;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    header div.header-container h1 {
        font-size: 3rem;
    }
    header div.header-container nav {
        display: block;
        background: #fff;
        top: 0;
        z-index: 1;
    }
    header div.header-container nav ul {
        margin: 7rem auto;
    }
    header div.header-container nav ul li {
        display: block;
        color: $secondary-color;
    }
    div.header-container div.nombres {
        left: 50%;
        transform: translateX(-50%);
    }
}