* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  width: 100%;
  margin: 20px auto;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 13px;
  }
}
header div.header-container nav ul {
  text-align: center;
  list-style: none;
}

header div.header-container nav ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px;
  white-space: nowrap;
  color: #fff;
  transition: all 0.25s ease-in-out;
  font-size: 1rem;
}

header div.header-container nav ul li:hover {
  color: #000;
}

div.header-container input#check-hamburger {
  display: none;
}

header div.header-container label.label-hamburger {
  height: 30px;
  width: 30px;
  display: none;
}

label.label-hamburger span {
  height: 3px;
  width: 100%;
  background: #fff;
  display: block;
  margin-bottom: 8px;
  transform-origin: left;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 800px) {
  header div.header-container nav {
    position: fixed;
    left: -110%;
    width: 100%;
    height: 100%;
    background: #48b1bf;
    background: linear-gradient(to right, #06beb6, #48b1bf);
    opacity: 0;
    overflow: auto;
    transition: all 0.25s ease-in-out;
  }

  header div.header-container nav ul {
    display: block;
    width: 80%;
    margin: 4rem auto;
  }

  header div.header-container nav ul li {
    display: block;
    padding-left: 0;
    margin-bottom: 5px;
    font-size: 1.1rem;
    text-align: left;
  }

  header div.header-container input#check-hamburger:checked ~ nav {
    opacity: 1;
    left: 0;
  }

  header div.header-container label.label-hamburger {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  label.label-hamburger span:nth-child(1) {
    margin-top: 4px;
  }

  div.header-container input#check-hamburger:checked + label.label-hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(-2px);
  }

  div.header-container input#check-hamburger:checked + label.label-hamburger span:nth-child(2) {
    opacity: 0;
  }

  div.header-container input#check-hamburger:checked + label.label-hamburger span:nth-child(3) {
    transform: rotate(-45deg) translateY(-1px) translateX(2px);
  }
}
@media screen and (max-width: 650px) {
  header div.header-container {
    padding: 10px 0 10px 0;
    width: 90%;
  }

  header div.header-container label.label-hamburger {
    height: 30px;
    width: 25px;
  }

  label.label-hamburger span {
    height: 2px;
    width: 100%;
    margin-bottom: 6px;
  }

  label.label-hamburger span:nth-child(1) {
    margin-top: 6px;
  }

  div.header-container input#check-hamburger:checked + label.label-hamburger span:nth-child(3) {
    transform: rotate(-45deg) translateY(1px);
  }
}
@media screen and (max-width: 400px) {
  header div.header-container {
    padding: 5px 0 5px 0;
  }
}
div.content {
  padding-top: 14rem;
  width: 75%;
  margin: 0 auto;
}

div.content p {
  text-align: justify;
}

div.content h2 {
  margin-bottom: 20px;
}

div.content section img {
  width: 100%;
  margin: 15px auto;
}

div.content section a {
  color: #ff7300;
}

@media screen and (max-width: 800px) {
  div.content {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 650px) {
  div.content {
    width: 85%;
  }

  div.content p {
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  div.content {
    padding-top: 5.5rem;
  }
}
header {
  width: 100%;
  height: 100vh;
  background: transparent;
}

header div.skew {
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform: skewY(-5deg);
  overflow: hidden;
  position: absolute;
}

header div.skew div.slider {
  width: 100%;
  height: 110%;
  transform: skewY(5deg);
}

header div.skew div.slider div.capa {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  position: absolute;
  z-index: 1;
}

header div.skew div.slider figure {
  width: 400%;
  height: 100%;
  filter: blur(1px);
  position: relative;
  left: 0;
  animation: slide-auto 10s infinite alternate linear;
}

header div.skew div.slider figure div.foto {
  width: 25%;
  height: 100%;
  float: left;
}

header div.skew div.slider figure div.foto:nth-child(1) {
  background: url("../img/arduino.jpg");
  background-size: cover;
  background-position: left center;
}

header div.skew div.slider figure div.foto:nth-child(2) {
  background: url("../img/nextcloud.png");
  background-size: cover;
  background-position: center center;
}

header div.skew div.slider figure div.foto:nth-child(3) {
  background: url("../img/untangle.jpg");
  background-size: cover;
  background-position: right center;
}

header div.skew div.slider figure div.foto:nth-child(4) {
  background: url("../img/gitlab.png");
  background-size: cover;
  background-position: right center;
}

header div.header-container {
  width: 100%;
  height: 88vh;
  margin: 0 auto;
  padding: 20px 0 5px 0;
  position: relative;
}

header div.header-container div.center-title {
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

header div.header-container h1 {
  text-align: center;
  padding-bottom: 13px;
  color: #fff;
  font-size: 4rem;
  font-weight: lighter;
}

div.header-container div.nombres {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 100px;
  font-size: 1.2rem;
  line-height: 30px;
}

@keyframes slide-auto {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
header div.header-container label.label-hamburger {
  top: 0;
  transform: translateY(0);
  margin: 25px;
  z-index: 2;
}

label.label-hamburger span {
  background: #ff7300;
}

div.content {
  padding-top: 6rem;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  header div.header-container h1 {
    font-size: 3rem;
  }

  header div.header-container nav {
    display: block;
    background: #fff;
    top: 0;
    z-index: 1;
  }

  header div.header-container nav ul {
    margin: 7rem auto;
  }

  header div.header-container nav ul li {
    display: block;
    color: #000;
  }

  div.header-container div.nombres {
    left: 50%;
    transform: translateX(-50%);
  }
}
