@media screen and (max-width: 800px) {
    header div.header-container {
        padding: 15px 0 15px 0;
        width: 90%;
    }
    header div.header-container h1 {
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    header div.header-container h1 {
        font-size: 1.7rem;
    }
}