* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: inherit;
}
iframe { 
    width: 100%;
    margin: 20px auto;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 13px;
    }
}