$header-color: linear-gradient(to right, #06beb6, #48b1bf);
$fallback-color: #48b1bf;
$primary-color: #fff;
$secondary-color: #000;
$contrast-color: #ff7300;
$transition-standar: all .25s ease-in-out;
